//- LaTex
//- script(async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous")

script
    | var _hmt = _hmt || [];
    | (function() {
    | var hm = document.createElement("script");
    | hm.src = "https://hm.baidu.com/hm.js?08871c8ba9acb5723a49ceea1dd6df10";
    | var s = document.getElementsByTagName("script")[0]; 
    | s.parentNode.insertBefore(hm, s);
    | })();

script(async src="https://www.googletagmanager.com/gtag/js?id=UA-117188588-1")
script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());

    | gtag('config', 'UA-117188588-1');

//- script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
//- script
//-     | (adsbygoogle = window.adsbygoogle || []).push({
//-     |    google_ad_client: "ca-pub-4131446402343550",
//-     |    enable_page_level_ads: true
//-     | });

