@import "fonts.scss";
@import "_variables.scss";
@import "_common.scss";
@import "_animate.scss";
#full-screen-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $link-color;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        user-select: none;
        li {
            display: none;
            animation: fadeInUp .5s;
            text-align: center;
            margin: 20px 0;
            a {
                font-size: 40px;
                color: #fff;
            }
        }
    }
}

#menu-btn {
    z-index: 9999;
    position: fixed;
    top: 30px;
    height: 20px;
    right: 30px;
    width: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    opacity: .6;
    transition: opacity .2s ease-in;
    &:hover {
        opacity: 1;
        .menu-line {
            box-shadow: 0 2px 9px 0px rgba(0, 0, 0, .2);
        }
    }
    .menu-line {
        transition: all .3s;
        display: block;
        height: 2px;
        background: $link-color;
    }
    &.active {
        opacity: 1;
        .menu-line {
            background: #fff;
        }
        .menu-line:nth-child(1) {
            transform: rotate(-45deg);
            transform-origin: right;
        }
        .menu-line:nth-child(2) {
            transform: scale3d(0, 0, 0)
        }
        .menu-line:nth-child(3) {
            transform: rotate(45deg);
            transform-origin: right;
        }
    }
}

#menu-outer {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 50px;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 50px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 64, 128, 0.05);
    box-shadow: 0px 5px 10px 0px rgba(0, 64, 128, 0.05);
}

#menu-inner {
    a+a {
        margin-left: 10px;
    }
}

h1.page-title {
    color: $font-dark;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
}

#post {
    padding: 10px;
    background: #fff;
    .post-content {
        color: $text-grey;
    }
    .page-meta-info {
        text-align: center;
    }
}

.page-meta-info {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    font-style: italic;
    opacity: .5;
    transition: opacity .3s;
    &:hover {
        opacity: .8;
    }
    time {
        color: $font-dark;
        font-size: 14px;
        font-weight: 500;
        &:after {
            padding: 0 5px 0 5px;
            opacity: .5;
            content: '/';
        }
    }
    .post-tag {
        text-transform: uppercase;
        font-style: normal;
        color: $tag-color;
    }
}

#content-outer {
    max-width: 660px;
    margin: 70px auto 20px auto;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    .recent-post-item {
        .read-more {
            text-transform: uppercase;
            display: block;
            text-align: right;
            font-weight: 100;
            padding-top: 10px;
        }
        h1.post-title {
            margin-top: 0;
            text-align: left;
            font-weight: 600;
            font-size: 30px;
            margin: 5px 0;
            a {
                color: $font-dark;
            }
        }
        .post-excerpt {
            word-wrap: break-word;
            overflow: hidden;
            color: $text-grey;
            margin-top: 0;
            font-weight: 500;
        } // -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
        //         box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
        padding: 10px;
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

#bottom-outer {
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    color: $copyright-color;
    #bottom-inner {
        height: 100%;
        width: 100%;
        #copyright {
            margin-bottom: 0;
        }
    }
}

#pagination {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    .page-number {
        user-select: none;
        cursor: pointer;
        &.current {
            cursor: unset;
            text-decoration: underline;
            color: $text-grey;
        }
    }
}

.hljs {
    padding: 0 0.5em;
    margin: 10px 0 10px 0;
    .gutter {
        .line {
            opacity: .3;
            width: 100%;
            text-align: right;
            display: inline-block
        }
    }
}

//Tag
#tag {
    padding: 10px;
    .page-meta-info{
        text-align: center;
    }
    .item-list {
        margin-top: 25px;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                &:not(:last-child){
                    border-bottom: 1px solid $font-dark;
                }
                display: flex;
                align-items: baseline;
                padding: 15px 0;
                a {
                    font-weight: 500;
                    font-size: 18px;
                }
                time {
                    font-size: 18px;
                    font-weight: 100;
                    white-space: nowrap;
                    &::after {
                        content: '|';
                        padding:0 30px;
                    }
                }
            }
        }
    }
}